<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>location</key>
		<string>tv</string>
		<key>location_Img_url</key>
		<string>012-computer.png</string>
		<key>nagList</key>
		<array>
			<dict>
				<key>nag_title</key>
				<string>테레비 그만보렴</string>
				<key>nag_answer_Y</key>
				<string>잘했다</string>
				<key>nag_answer_N</key>
				<string>안끄냐</string>
				<key>duration</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>nag_title</key>
				<string>테레비 소리줄어라</string>
				<key>nag_answer_Y</key>
				<string>잘했다</string>
				<key>nag_answer_N</key>
				<string>안줄이냐</string>
				<key>duration</key>
				<integer>10</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>location</key>
		<string>ref</string>
		<key>location_Img_url</key>
		<string>005-technology.png</string>
		<key>nagList</key>
		<array>
			<dict>
				<key>nag_title</key>
				<string>냉장고 문닫아</string>
				<key>nag_answer_Y</key>
				<string>잘했다</string>
				<key>nag_answer_N</key>
				<string>전기세 많이 나가</string>
				<key>duration</key>
				<integer>10</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>location</key>
		<string>shoes</string>
		<key>location_Img_url</key>
		<string>001-fashion.png</string>
		<key>nagList</key>
		<array>
			<dict>
				<key>nag_title</key>
				<string>옷장 치워</string>
				<key>nag_answer_Y</key>
				<string>잘했다</string>
				<key>nag_answer_N</key>
				<string>안치우냐?</string>
				<key>duration</key>
				<integer>10</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>location</key>
		<string>table</string>
		<key>location_Img_url</key>
		<string>007-table.png</string>
		<key>nagList</key>
		<array>
			<dict>
				<key>nag_title</key>
				<string>식탁치워</string>
				<key>nag_answer_Y</key>
				<string>잘했다</string>
				<key>nag_answer_N</key>
				<string>안끄냐</string>
				<key>duration</key>
				<integer>10</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>location</key>
		<string>desk</string>
		<key>location_Img_url</key>
		<string>008-desk.png</string>
		<key>nagList</key>
		<array>
			<dict>
				<key>nag_title</key>
				<string>책상정리해</string>
				<key>nag_answer_Y</key>
				<string>잘했다</string>
				<key>nag_answer_N</key>
				<string>안끄냐</string>
				<key>duration</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>nag_title</key>
				<string>책상 치워라 </string>
				<key>nag_answer_Y</key>
				<string>잘했다</string>
				<key>nag_answer_N</key>
				<string>안치우냐 </string>
				<key>duration</key>
				<integer>10</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>location</key>
		<string>bathroom</string>
		<key>location_Img_url</key>
		<string>009-bathroom.png</string>
		<key>nagList</key>
		<array>
			<dict>
				<key>nag_title</key>
				<string>물좀내려</string>
				<key>nag_answer_Y</key>
				<string>잘했다</string>
				<key>nag_answer_N</key>
				<string>안내리냐 안더럽니?</string>
				<key>duration</key>
				<integer>10</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>location</key>
		<string>sofa</string>
		<key>location_Img_url</key>
		<string>010-sofa.png</string>
		<key>nagList</key>
		<array>
			<dict>
				<key>nag_title</key>
				<string>그만누워</string>
				<key>nag_answer_Y</key>
				<string>잘했다</string>
				<key>nag_answer_N</key>
				<string>안끄냐</string>
				<key>duration</key>
				<integer>10</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>location</key>
		<string>bed</string>
		<key>location_Img_url</key>
		<string>013-rest.png</string>
		<key>nagList</key>
		<array>
			<dict>
				<key>nag_title</key>
				<string>일어나 밥먹어</string>
				<key>nag_answer_Y</key>
				<string>잘했다</string>
				<key>nag_answer_N</key>
				<string>안끄냐</string>
				<key>duration</key>
				<integer>10</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
