<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SectionHeaderTitle</key>
		<string></string>
		<key>SectionFooterTitle</key>
		<string></string>
		<key>RowData</key>
		<array>
			<dict>
				<key>Title</key>
				<string>에어플레인모드</string>
				<key>Subtitle</key>
				<string></string>
				<key>CellType</key>
				<string>CustomCell</string>
				<key>DetailData</key>
				<array>
					<dict>
						<key>SectionHeaderTitle</key>
						<string></string>
						<key>SectionFooterTitle</key>
						<string></string>
						<key>RowData</key>
						<array>
							<dict>
								<key>Title</key>
								<string></string>
								<key>Subtitle</key>
								<string></string>
								<key>CellType</key>
								<string></string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>Wi-Fi</string>
				<key>Subtitle</key>
				<string>켬</string>
				<key>CellType</key>
				<string>DetailCell</string>
				<key>DetailData</key>
				<array>
					<dict>
						<key>SectionHeaderTitle</key>
						<string></string>
						<key>SectionFooterTitle</key>
						<string>Wi-Fi를 켜면 위치 정확도가 향상됩니다.</string>
						<key>RowData</key>
						<array>
							<dict>
								<key>Title</key>
								<string>Wi-Fi</string>
								<key>Subtitle</key>
								<string></string>
								<key>CellType</key>
								<string>CustomCell</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>Bluetooth</string>
				<key>Subtitle</key>
				<string>켬</string>
				<key>CellType</key>
				<string>DetailCell</string>
				<key>DetailData</key>
				<array>
					<dict>
						<key>SectionHeaderTitle</key>
						<string></string>
						<key>SectionFooterTitle</key>
						<string>Bluetooth를 켜면 위치 정확도 및 주변 서비스가 향상됩니다.</string>
						<key>RowData</key>
						<array>
							<dict>
								<key>Title</key>
								<string>Bluetooth</string>
								<key>Subtitle</key>
								<string></string>
								<key>CellType</key>
								<string>CustomCell</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>셀룰러</string>
				<key>Subtitle</key>
				<string></string>
				<key>CellType</key>
				<string>BasicCell</string>
				<key>DetailData</key>
				<array>
					<dict>
						<key>SectionHeaderTitle</key>
						<string></string>
						<key>SectionFooterTitle</key>
						<string></string>
						<key>RowData</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>개인용 핫스팟</string>
				<key>Subtitle</key>
				<string>켬</string>
				<key>CellType</key>
				<string>DetailCell</string>
				<key>DetailData</key>
				<array>
					<dict>
						<key>SectionHeaderTitle</key>
						<string></string>
						<key>SectionFooterTitle</key>
						<string>iPhone의 인터넷 연결을 공유하려면 개인용 핫스팟을 켜십시오. 추가 요금이 부과될 수 있습니다. 사용자의 iCloud 계정으로 로그인된 다른 기기에서 수동으로 켜지 않아도 개인용 핫스팟을 사용할 수 있게 됩니다.</string>
						<key>RowData</key>
						<array>
							<dict>
								<key>Title</key>
								<string>개인용 핫스팟</string>
								<key>Subtitle</key>
								<string></string>
								<key>CellType</key>
								<string>CustomCell</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Title</key>
				<string>네트워크 사업자</string>
				<key>Subtitle</key>
				<string>켬</string>
				<key>CellType</key>
				<string>DetailCell</string>
				<key>DetailData</key>
				<array>
					<dict>
						<key>SectionHeaderTitle</key>
						<string>네트워크 사업자</string>
						<key>SectionFooterTitle</key>
						<string></string>
						<key>RowData</key>
						<array>
							<dict>
								<key>Title</key>
								<string>자동</string>
								<key>Subtitle</key>
								<string></string>
								<key>CellType</key>
								<string>CustomCell</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
