<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionHeader</key>
		<string></string>
		<key>sectionRowDatas</key>
		<array>
			<dict>
				<key>rowTitle</key>
				<string>에어플레인 모드</string>
				<key>cellType</key>
				<string>switchCell</string>
				<key>postKey</key>
				<string>airplayMode</string>
			</dict>
			<dict>
				<key>rowTitle</key>
				<string>Wi-Fi</string>
				<key>cellType</key>
				<string>detailCell</string>
				<key>detailData</key>
				<array>
					<dict>
						<key>sectionHeader</key>
						<string></string>
						<key>sectionRowDatas</key>
						<array>
							<dict>
								<key>rowTitle</key>
								<string>Wi-Fi</string>
								<key>cellType</key>
								<string>switchCell</string>
								<key>postKey</key>
								<string>wifi</string>
							</dict>
						</array>
						<key>sectionFooter</key>
						<string></string>
					</dict>
				</array>
				<key>notiKey</key>
				<string>wifi</string>
			</dict>
			<dict>
				<key>rowTitle</key>
				<string>Bluetooth</string>
				<key>cellType</key>
				<string>detailCell</string>
				<key>detailData</key>
				<array>
					<dict>
						<key>sectionHeader</key>
						<string></string>
						<key>sectionRowDatas</key>
						<array>
							<dict>
								<key>rowTitle</key>
								<string>Bluetooth</string>
								<key>cellType</key>
								<string>switchCell</string>
							</dict>
						</array>
						<key>sectionFooter</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>rowTitle</key>
				<string>셀룰러</string>
				<key>cellType</key>
				<string>detailCell</string>
				<key>detailData</key>
				<array>
					<dict>
						<key>sectionHeader</key>
						<string></string>
						<key>sectionRowDatas</key>
						<array>
							<dict>
								<key>rowTitle</key>
								<string>셀룰러 데이터</string>
								<key>cellType</key>
								<string>switchCell</string>
							</dict>
							<dict>
								<key>rowTitle</key>
								<string>셀룰러 데이터 옵션</string>
								<key>cellType</key>
								<string>detailCell</string>
							</dict>
						</array>
						<key>sectionFooter</key>
						<string></string>
					</dict>
					<dict>
						<key>sectionHeader</key>
						<string></string>
						<key>sectionRowDatas</key>
						<array>
							<dict>
								<key>rowTitle</key>
								<string>개인용 핫스팟</string>
								<key>cellType</key>
								<string>detailCell</string>
							</dict>
						</array>
						<key>sectionFooter</key>
						<string></string>
					</dict>
					<dict>
						<key>sectionHeader</key>
						<string>통화시간</string>
						<key>sectionRowDatas</key>
						<array>
							<dict>
								<key>rowTitle</key>
								<string>현재 사용량</string>
								<key>cellType</key>
								<string>basicCell</string>
							</dict>
							<dict>
								<key>rowTitle</key>
								<string>누적 사용량</string>
								<key>cellType</key>
								<string>basicCell</string>
							</dict>
						</array>
						<key>sectionFooter</key>
						<string></string>
					</dict>
					<dict>
						<key>sectionHeader</key>
						<string>셀룰러 데이터 사용량</string>
						<key>sectionRowDatas</key>
						<array>
							<dict>
								<key>rowTitle</key>
								<string>현재 사용량</string>
								<key>cellType</key>
								<string>basicCell</string>
							</dict>
							<dict>
								<key>rowTitle</key>
								<string>현재 로밍 사용량</string>
								<key>cellType</key>
								<string>basicCell</string>
							</dict>
						</array>
						<key>sectionFooter</key>
						<string></string>
					</dict>
				</array>
				<key>notiKey</key>
				<string>airplayMode</string>
			</dict>
			<dict>
				<key>rowTitle</key>
				<string>개인용 핫스팟</string>
				<key>cellType</key>
				<string>detailCell</string>
				<key>detailData</key>
				<array>
					<dict>
						<key>sectionHeader</key>
						<string></string>
						<key>sectionRowDatas</key>
						<array>
							<dict>
								<key>rowTitle</key>
								<string>개인용 핫스팟</string>
								<key>cellType</key>
								<string>switchCell</string>
							</dict>
						</array>
						<key>sectionFooter</key>
						<string></string>
					</dict>
					<dict>
						<key>sectionHeader</key>
						<string></string>
						<key>sectionRowDatas</key>
						<array>
							<dict>
								<key>rowTitle</key>
								<string>Wifi 암호</string>
								<key>cellType</key>
								<string>detailCell</string>
							</dict>
						</array>
						<key>sectionFooter</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>rowTitle</key>
				<string>네트워크 사업자</string>
				<key>cellType</key>
				<string>detailCell</string>
				<key>detailData</key>
				<array>
					<dict>
						<key>sectionHeader</key>
						<string></string>
						<key>sectionRowDatas</key>
						<array>
							<dict>
								<key>rowTitle</key>
								<string>자동</string>
								<key>cellType</key>
								<string>switchCell</string>
							</dict>
						</array>
						<key>sectionFooter</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
		<key>sectionFooter</key>
		<string></string>
	</dict>
</array>
</plist>
