<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-05-22T10:58:17Z</date>
	<key>WorkspacePath</key>
	<string>/Users/B.Park/iOS_Campus/A_LectureSummary/170519/VendingMachine/AppleAccVM.xcodeproj</string>
</dict>
</plist>
